@import url("//hello.myfonts.net/count/25102b");
/*
 * IE is "special", so it gets it's very own CSS build
 *
 ************************************************************************************************/
/*
 * mixins for common CSS properties
 *
 ************************************************************************************************/
/*
 * site-wide SCSS variable declaration
 *
 ************************************************************************************************/
/*
 * color declarations
 *
 ********************************************************/
/*
 * font declarations
 *
 ********************************************************/
/*
 * global reset and normalization CSS
 *
 * box model property order
 *
 ************************************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\000039}}
* {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  /* font-size: 100%; */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000311}}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  /* adjusts the font "weight" in webkit browsers to more closely match others - http://maxvoltar.com/archive/-webkit-font-smoothing */
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 38, 73, 0.5);
  -moz-tap-highlight-color: rgba(0, 38, 73, 0.5);
  -o-tap-highlight-color: rgba(0, 38, 73, 0.5);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000325}}
body {
  height: 100%;
  line-height: 1.5em;
  font-family: "WebDin", Helvetica, Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000332}}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000334}}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 240px;
  height: 135px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000335}}
audio:not([controls]) {
  display: none;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000337}}
[hidden] {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000342}}
ul {
  list-style-type: circle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000343}}
p {
  line-height: 1.83333em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000344}}
dl, ol, ul {
  margin-top: 1.5em;
  line-height: 1.83333em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000345}}
p + p {
  margin-top: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000346}}
ol, ul {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000349}}
li ol,
li ul,
dd ul {
  margin: 0;
  font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000352}}
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000355}}
  .list-inline > li {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000358}}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000364}}
blockquote {
  margin: 0 0 1.5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000368}}
address {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000372}}
:focus {
  outline: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000378}}
a:hover,
a:focus {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000379}}
a:focus {
  outline: thin dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000381}}
a[href='#'] {
  color: #f00; }

/* TBD - test CSS to find empty links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000383}}
i {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000386}}
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  /* clean up janky edges of scaled images in IE<9 */
  -moz-user-drag: -moz-none;
  -webkit-user-drag: none;
  user-drag: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000396}}
button, input, select, textarea {
  vertical-align: top;
  *vertical-align: middle;
  font-family: sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000398}}
label {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\0000399}}
label, legend {
  display: block;
  *margin-left: -7px;
  line-height: 1.5em;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003100}}
legend {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003109}}
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
input[type=file],
textarea,
select {
  /* width: 190px; */
  max-width: 100%;
  border-radius: 0;
  /* remove rounded corners on iOS */
  border: 1px solid #666;
  padding: 0;
  /* padding: .5em; */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003111}}
input[type=text] {
  -webkit-appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003114}}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  margin-top: 3px;
  /* margin-top: 7px; */
  *width: 13px;
  *height: 13px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003116}}
input[type=checkbox] + label,
input[type=radio] + label {
  display: inline;
  margin-left: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003119}}
input[type=submit],
input[type=button] {
  border: none;
  padding: .5em 1em;
  /* background: #666; color: #fff; */
  cursor: pointer;
  -webkit-apperance: none;
  *overflow: visible;
  text-transform: uppercase;
  /* silly ass IE7 - add if you want to hide button text */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003122}}
textarea {
  width: 220px;
  max-width: 100%;
  height: 8em;
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003126}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003130}}
sub, sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
  font-size: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003131}}
sup {
  top: -0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003132}}
sub {
  bottom: -0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003136}}
.meta {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003137}}
.hidden {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003142}}
.cf:before,
.cf:after {
  content: " ";
  display: table; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003143}}
.cf:after {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_reset\.scss}line{font-family:\00003144}}
.cf {
  *zoom: 1; }

/* for IE 6/7 to trigger hasLayout */
/*
 * define @font-face sources for web fonts - http://css-tricks.com/snippets/css/using-font-face
 * 
 ************************************************************************************************/
/* @license
 * MyFonts Webfont Build ID 2428971, 2012-12-11T17:37:16-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: PF Din Text Comp Pro Medium Italic by Parachute
 * URL: http://www.myfonts.com/fonts/parachute/pf-din-text-comp-pro/medium-italic/
 * 
 * Webfont: PF Din Text Comp Pro Light Italic by Parachute
 * URL: http://www.myfonts.com/fonts/parachute/pf-din-text-comp-pro/light-italic/
 * 
 * Webfont: PF Din Text Comp Pro Medium by Parachute
 * URL: http://www.myfonts.com/fonts/parachute/pf-din-text-comp-pro/medium/
 * 
 * Webfont: PF Din Text Comp Pro Light by Parachute
 * URL: http://www.myfonts.com/fonts/parachute/pf-din-text-comp-pro/light/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2428971
 * Webfonts copyright: Copyright (c) 2002, 2005 Parachute&#x00A8;, www.parachute.gr.  All rights reserved.
 * 
 * © 2012 Bitstream Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'WebDin';
  src: url("../fonts/DINWeb-Cond.eot");
  /* IE9 Compatability Modes */
  src: url("../fonts/DINWeb-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/DINWeb-Cond.woff") format("woff"), url("../fonts/25102B_3_0.ttf") format("truetype");
  /* Safari <5.1, Android, iOS <5.0 */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'WebDin';
  src: url("../fonts/DINWeb-CondBold.eot");
  /* IE9 Compatability Modes */
  src: url("../fonts/DINWeb-CondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINWeb-CondBold.woff") format("woff"), url("../fonts/25102B_2_0.ttf") format("truetype");
  /* Safari <5.1, Android, iOS <5.0 */
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'WebDin';
  src: url("../fonts/DINWeb-CondIta.eot");
  /* IE9 Compatability Modes */
  src: url("../fonts/DINWeb-CondIta.eot?#iefix") format("embedded-opentype"), url("../fonts/DINWeb-CondIta.woff") format("woff"), url("../fonts/25102B_1_0.ttf") format("truetype");
  /* Safari <5.1, Android, iOS <5.0 */
  /*url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'WebDin';
  src: url("../fonts/DINWeb-CondBoldIta.eot");
  /* IE9 Compatability Modes */
  src: url("../fonts/DINWeb-CondBoldIta.eot?#iefix") format("embedded-opentype"), url("../fonts/DINWeb-CondBoldIta.woff") format("woff"), url("../fonts/25102B_0_0.ttf") format("truetype");
  /* Safari <5.1, Android, iOS <5.0 */
  /*url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
  font-weight: bold;
  font-style: italic; }

/*
 * base CSS
 * 
 ************************************************************************************************/
/*
 * breakpoint variable
 *
 ****************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000315}}
body:after {
  content: 'mobile-portrait';
  display: none; }

/*
 * base elements
 *
 ****************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000328}}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0;
  line-height: 1.2em;
  color: #1a1a1a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000332}}
h1, .h1 {
  font-size: 34px;
  font-size: 2.125rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000334}}
h2, .h2 {
  font-size: 17px;
  font-size: 1.0625rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000336}}
h3, .h3 {
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #cc0000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000340}}
p, ul, ol, dd {
  line-height: 1.5em; }

/*
 * mobile only screen
 *
 ****************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000348}}
#sad-panda {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, #b4d1e1 0%, #d0e8f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#b4d1e1), to(#d0e8f5)) 0 0;
  background: -moz-linear-gradient(top, #b4d1e1, #d0e8f5) 0 0;
  background: -ms-linear-gradient(top, #b4d1e1, #d0e8f5);
  background: -o-linear-gradient(top, #b4d1e1, #d0e8f5);
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000351}}
.notice {
  display: block;
  margin: 10px auto 0 auto;
  width: 220px;
  font-size: 18px;
  font-size: 1.125rem; }

/*
 * preloader
 *
 ****************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000359}}
#preload-container {
  display: none; }

/*
 * social icons
 *
 ****************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000367}}
.social-container {
  display: none; }

/*
 * base parallax definitions
 *
 ****************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000375}}
#skrollr-body {
  display: none; }

/*
 * content region definitions
 *
 ****************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000383}}
.panel-content {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-top: -450px;
  width: 281px;
  height: 800px;
  background: url("../images/bkg-panel.png") no-repeat 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000386}}
.content-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 235px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000389}}
.ribbon {
  display: block;
  line-height: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000392}}
.ribbon-1 {
  margin-bottom: 27px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000393}}
.ribbon-2 {
  margin-bottom: 27px;
  text-transform: uppercase;
  font-size: 22px;
  font-size: 1.375rem;
  color: #cc0000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/sites\/holiday2013\/css\/scss\/_base\.scss}line{font-family:\0000394}}
.ribbon-3 {
  margin-left: 20px; }

/*
 * universal IE fixes
 *
 ****************************************************************************/
/*
 * base elements
 *
 ********************************************************/
