@import url("//hello.myfonts.net/count/25102b");
/*
 * Barcamp Philadelphia 2013
 * 
 * CSS Build
 *  
 * Changelog: 
 * 
 ************************************************************************************************/
/*
 * mixins for common CSS properties
 *
 ************************************************************************************************/
/*
 * site-wide SCSS variable declaration
 *
 ************************************************************************************************/
/*
 * color declarations
 *
 ********************************************************/
/*
 * font declarations
 *
 ********************************************************/
/*
 * global reset and normalization CSS
 *
 * box model property order
 *
 ************************************************************************************************/
* {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  /* font-size: 100%; */ }

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  /* adjusts the font "weight" in webkit browsers to more closely match others - http://maxvoltar.com/archive/-webkit-font-smoothing */
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 38, 73, 0.5);
  -moz-tap-highlight-color: rgba(0, 38, 73, 0.5);
  -o-tap-highlight-color: rgba(0, 38, 73, 0.5);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  height: 100%;
  line-height: 1.5em;
  font-family: "WebDin", Helvetica, Arial, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 240px;
  height: 135px; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

ul {
  list-style-type: circle; }

p {
  line-height: 1.83333em; }

dl, ol, ul {
  margin-top: 1.5em;
  line-height: 1.83333em; }

p + p {
  margin-top: 1.5em; }

ol, ul {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 1.5em; }

li ol,
li ul,
dd ul {
  margin: 0;
  font-size: 1em; }

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-inline > li {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none; }

blockquote {
  margin: 0 0 1.5em 0; }

address {
  font-style: normal; }

:focus {
  outline: 0; }

a:hover,
a:focus {
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

a[href='#'] {
  color: #f00; }

/* TBD - test CSS to find empty links */
i {
  font-style: normal; }

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  /* clean up janky edges of scaled images in IE<9 */
  -moz-user-drag: -moz-none;
  -webkit-user-drag: none;
  user-drag: none; }

button, input, select, textarea {
  vertical-align: top;
  *vertical-align: middle;
  font-family: sans-serif; }

label {
  display: block; }

label, legend {
  display: block;
  *margin-left: -7px;
  line-height: 1.5em;
  cursor: pointer; }

legend {
  display: none; }

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
input[type=file],
textarea,
select {
  /* width: 190px; */
  max-width: 100%;
  border-radius: 0;
  /* remove rounded corners on iOS */
  border: 1px solid #666;
  padding: 0;
  /* padding: .5em; */ }

input[type=text] {
  -webkit-appearance: none; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  margin-top: 3px;
  /* margin-top: 7px; */
  *width: 13px;
  *height: 13px; }

input[type=checkbox] + label,
input[type=radio] + label {
  display: inline;
  margin-left: .5em; }

input[type=submit],
input[type=button] {
  border: none;
  padding: .5em 1em;
  /* background: #666; color: #fff; */
  cursor: pointer;
  -webkit-apperance: none;
  *overflow: visible;
  text-transform: uppercase;
  /* silly ass IE7 - add if you want to hide button text */ }

textarea {
  width: 220px;
  max-width: 100%;
  height: 8em;
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

sub, sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
  font-size: 75%; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.meta {
  display: none; }

.hidden {
  display: none; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/* for IE 6/7 to trigger hasLayout */
/*
 * define @font-face sources for web fonts - http://css-tricks.com/snippets/css/using-font-face
 * 
 ************************************************************************************************/
/* @license
 * MyFonts Webfont Build ID 2428971, 2012-12-11T17:37:16-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: PF Din Text Comp Pro Medium Italic by Parachute
 * URL: http://www.myfonts.com/fonts/parachute/pf-din-text-comp-pro/medium-italic/
 * 
 * Webfont: PF Din Text Comp Pro Light Italic by Parachute
 * URL: http://www.myfonts.com/fonts/parachute/pf-din-text-comp-pro/light-italic/
 * 
 * Webfont: PF Din Text Comp Pro Medium by Parachute
 * URL: http://www.myfonts.com/fonts/parachute/pf-din-text-comp-pro/medium/
 * 
 * Webfont: PF Din Text Comp Pro Light by Parachute
 * URL: http://www.myfonts.com/fonts/parachute/pf-din-text-comp-pro/light/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2428971
 * Webfonts copyright: Copyright (c) 2002, 2005 Parachute&#x00A8;, www.parachute.gr.  All rights reserved.
 * 
 * © 2012 Bitstream Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'WebDin';
  src: url("../fonts/DINWeb-Cond.eot");
  /* IE9 Compatability Modes */
  src: url("../fonts/DINWeb-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/DINWeb-Cond.woff") format("woff"), url("../fonts/25102B_3_0.ttf") format("truetype");
  /* Safari <5.1, Android, iOS <5.0 */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'WebDin';
  src: url("../fonts/DINWeb-CondBold.eot");
  /* IE9 Compatability Modes */
  src: url("../fonts/DINWeb-CondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINWeb-CondBold.woff") format("woff"), url("../fonts/25102B_2_0.ttf") format("truetype");
  /* Safari <5.1, Android, iOS <5.0 */
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'WebDin';
  src: url("../fonts/DINWeb-CondIta.eot");
  /* IE9 Compatability Modes */
  src: url("../fonts/DINWeb-CondIta.eot?#iefix") format("embedded-opentype"), url("../fonts/DINWeb-CondIta.woff") format("woff"), url("../fonts/25102B_1_0.ttf") format("truetype");
  /* Safari <5.1, Android, iOS <5.0 */
  /*url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'WebDin';
  src: url("../fonts/DINWeb-CondBoldIta.eot");
  /* IE9 Compatability Modes */
  src: url("../fonts/DINWeb-CondBoldIta.eot?#iefix") format("embedded-opentype"), url("../fonts/DINWeb-CondBoldIta.woff") format("woff"), url("../fonts/25102B_0_0.ttf") format("truetype");
  /* Safari <5.1, Android, iOS <5.0 */
  /*url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
  font-weight: bold;
  font-style: italic; }

/*
 * base CSS
 * 
 ************************************************************************************************/
/*
 * breakpoint variable
 *
 ****************************************************************************/
body:after {
  content: 'mobile-portrait';
  display: none; }

/*
 * base elements
 *
 ****************************************************************************/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0;
  line-height: 1.2em;
  color: #1a1a1a; }

h1, .h1 {
  font-size: 34px;
  font-size: 2.125rem; }

h2, .h2 {
  font-size: 17px;
  font-size: 1.0625rem; }

h3, .h3 {
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 17px;
  font-size: 1.0625rem;
  color: #cc0000; }

p, ul, ol, dd {
  line-height: 1.5em; }

/*
 * mobile only screen
 *
 ****************************************************************************/
#sad-panda {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, #b4d1e1 0%, #d0e8f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#b4d1e1), to(#d0e8f5)) 0 0;
  background: -moz-linear-gradient(top, #b4d1e1, #d0e8f5) 0 0;
  background: -ms-linear-gradient(top, #b4d1e1, #d0e8f5);
  background: -o-linear-gradient(top, #b4d1e1, #d0e8f5);
  text-align: center; }

.notice {
  display: block;
  margin: 10px auto 0 auto;
  width: 220px;
  font-size: 18px;
  font-size: 1.125rem; }

/*
 * preloader
 *
 ****************************************************************************/
#preload-container {
  display: none; }

/*
 * social icons
 *
 ****************************************************************************/
.social-container {
  display: none; }

/*
 * base parallax definitions
 *
 ****************************************************************************/
#skrollr-body {
  display: none; }

/*
 * content region definitions
 *
 ****************************************************************************/
.panel-content {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-top: -450px;
  width: 281px;
  height: 800px;
  background: url("../images/bkg-panel.png") no-repeat 0 0; }

.content-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 235px; }

.ribbon {
  display: block;
  line-height: 60px; }

.ribbon-1 {
  margin-bottom: 27px; }

.ribbon-2 {
  margin-bottom: 27px;
  text-transform: uppercase;
  font-size: 22px;
  font-size: 1.375rem;
  color: #cc0000; }

.ribbon-3 {
  margin-left: 20px; }

@media only screen and (min-width: 768px) {
  /*
   * 768 breakpoint CSS
   * 
   ************************************************************************************************/
  /*
   * breakpoint variable
   *
   ****************************************************************************/
  body:after {
    content: 'tablet-portrait';
    display: none; }

  /*
   * base elements
   *
   ****************************************************************************/
  /*
   * links
   * 
   ********************************************************/
  a {
    text-decoration: none;
    color: #cc0000;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear; }
    a:hover {
      color: #990000; }

  /*
   * mobile only screen
   *
   ****************************************************************************/
  #sad-panda {
    display: none; }

  /*
   * preloader
   *
   ****************************************************************************/
  #preload-container {
    z-index: 500;
    position: fixed;
    display: block;
    background: -webkit-linear-gradient(top, #b4d1e1 0%, #d0e8f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#b4d1e1), to(#d0e8f5)) 0 0;
    background: -moz-linear-gradient(top, #b4d1e1, #d0e8f5) 0 0;
    background: -ms-linear-gradient(top, #b4d1e1, #d0e8f5);
    background: -o-linear-gradient(top, #b4d1e1, #d0e8f5);
    width: 100%;
    height: 100%; }

  .preloader {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-bottom: -100px;
    margin-left: -85px;
    width: 171px;
    height: 800px;
    background: url("../images/bkg-preload.png") no-repeat 0 0; }

  .preloader-content {
    position: absolute;
    bottom: 0;
    padding-top: 15px;
    width: 171px;
    height: 146px;
    text-align: center; }
    .preloader-content strong {
      display: block;
      font-size: 20px;
      font-size: 1.25rem;
      color: #fff; }

  .preloader-animation {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 96px;
    height: 96px;
    background: url("../images/preload-animation.gif") no-repeat 0 0; }

  /*
   * touch control hint
   *
   ****************************************************************************/
  #touch-control {
    z-index: 200;
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5) url("../images/touch-divider.gif") repeat-y 50% 0; }

  .touch-hint {
    position: absolute;
    bottom: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 230px;
    background-color: #cc0000;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff; }

  #scrollLeft, #scrollRight {
    width: 50%;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2000; }

  #scrollLeft {
    left: 0; }

  .touch-hint-left {
    left: 50px; }

  .touch-hint-right {
    right: 50px; }

  .direction-arrow {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-top: 18px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; }

  .arrow-left {
    margin-right: 10px;
    border-right: 7px solid #fff; }

  .arrow-right {
    margin-left: 10px;
    border-left: 7px solid #fff; }

  /*
   * social icons
   *
   ****************************************************************************/
  .social-container {
    position: fixed;
    top: -40px;
    right: 40px;
    display: block; }

  .social-item {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 12px;
    width: 39px;
    height: 120px;
    background: url("../images/sprite-social.png") no-repeat 0 0; }
    .social-item:first-child {
      margin-left: 0; }
    .social-item a {
      position: absolute;
      bottom: 0;
      display: block;
      width: 39px;
      height: 39px;
      text-indent: -9999px; }

  .social-facebook {
    /* default position */ }

  .social-twitter {
    top: -5px;
    background-position: -39px 0; }

  .social-googleplus {
    top: 15px;
    background-position: -78px 0; }

  /*
   * base parallax definitions
   *
   ****************************************************************************/
  #skrollr-body {
    display: block; }

  #scene {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d0e8f5;
    background: -webkit-linear-gradient(top, #b4d1e1 0%, #d0e8f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#b4d1e1), to(#d0e8f5)) 0 0;
    background: -moz-linear-gradient(top, #b4d1e1, #d0e8f5) 0 0;
    background: -ms-linear-gradient(top, #b4d1e1, #d0e8f5);
    background: -o-linear-gradient(top, #b4d1e1, #d0e8f5);
    height: 100%; }

  .parallax-layer {
    position: absolute;
    height: 700px;
    background-repeat: no-repeat; }

  /*
   * parallax layers
   *
   ****************************************************************************/
  /*
   * background parallax (skyline)
   *
   ********************************************************/
  #bg-1 {
    bottom: 0;
    width: 9912px;
    /* background: url( '../images/bg-background.png' ); background-position: left bottom; background-repeat: no-repeat; */ }

  .bg-back-tile {
    position: absolute;
    bottom: 0;
    width: 821px;
    height: 700px; }

  .bg-back-tile-1 {
    left: 0;
    background: url("../images/bg-back-1.png"); }

  .bg-back-tile-2 {
    left: 821px;
    background: url("../images/bg-back-2.png"); }

  .bg-back-tile-3 {
    left: 1642px;
    background: url("../images/bg-back-3.png"); }

  .bg-back-tile-4 {
    left: 2463px;
    background: url("../images/bg-back-4.png"); }

  .bg-back-tile-5 {
    left: 3284px;
    background: url("../images/bg-back-1.png"); }

  .bg-back-tile-6 {
    left: 4105px;
    background: url("../images/bg-back-2.png"); }

  .bg-back-tile-7 {
    left: 4926px;
    background: url("../images/bg-back-3.png"); }

  .bg-back-tile-8 {
    left: 5747px;
    background: url("../images/bg-back-4.png"); }

  .bg-back-tile-9 {
    left: 6568px;
    background: url("../images/bg-back-1.png"); }

  .bg-back-tile-10 {
    left: 7419px;
    background: url("../images/bg-back-2.png"); }

  .bg-back-tile-11 {
    left: 8240px;
    background: url("../images/bg-back-3.png"); }

  .bg-back-tile-12 {
    left: 9091px;
    background: url("../images/bg-back-4.png"); }

  /*
   * midground parallax (buildings)
   *
   ********************************************************/
  #bg-2 {
    bottom: 0;
    width: 7390px; }

  .bg-mid-tile {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 821px;
    height: 700px; }

  .bg-mid-tile-1 {
    left: 0;
    background: url("../images/bg-mid-1.png"); }

  .bg-mid-tile-2 {
    left: 821px;
    background: url("../images/bg-mid-2.png"); }

  .bg-mid-tile-3 {
    left: 1642px;
    background: url("../images/bg-mid-3.png"); }

  .bg-mid-tile-4 {
    left: 2463px;
    background: url("../images/bg-mid-4.png"); }

  .bg-mid-tile-5 {
    left: 3284px;
    background: url("../images/bg-mid-5.png"); }

  .bg-mid-tile-6 {
    left: 4105px;
    background: url("../images/bg-mid-6.png"); }

  .bg-mid-tile-7 {
    left: 4926px;
    background: url("../images/bg-mid-7.png"); }

  .bg-mid-tile-8 {
    left: 5747px;
    background: url("../images/bg-mid-8.png"); }

  .bg-mid-tile-9 {
    left: 6568px;
    background: url("../images/bg-mid-9.png"); }

  /*
   * foreground elements (vehicles)
   *
   ********************************************************/
  #bg-2-sub-elements {
    z-index: 40;
    position: absolute;
    bottom: 0;
    width: 7390px;
    height: 700px; }

  .bg-fore-elem {
    position: absolute; }

  .bg-fore-elem-1 {
    bottom: 23px;
    left: 615px;
    width: 387px;
    height: 111px;
    background: url("../images/midground-elem-1.png") no-repeat 0 0; }

  .bg-fore-elem-2 {
    bottom: 555px;
    left: 1212px;
    width: 433px;
    height: 91px;
    background: url("../images/midground-elem-2.png") no-repeat 0 0; }

  .bg-fore-elem-3 {
    bottom: 20px;
    left: 2886px;
    width: 234px;
    height: 286px;
    background: url("../images/midground-elem-3.png") no-repeat 0 0; }

  .bg-fore-elem-4 {
    bottom: 388px;
    left: 3128px;
    width: 128px;
    height: 207px;
    background: url("../images/midground-elem-4.png") no-repeat 0 0; }

  .bg-fore-elem-5 {
    bottom: 10px;
    left: 4395px;
    width: 218px;
    height: 103px;
    background: url("../images/midground-elem-5.png") no-repeat 0 0; }

  .bg-fore-elem-6 {
    bottom: 44px;
    left: 4880px;
    width: 254px;
    height: 75px;
    background: url("../images/midground-elem-6.png") no-repeat 0 0; }

  .bg-fore-elem-7 {
    bottom: 20px;
    left: 6438px;
    width: 222px;
    height: 104px;
    background: url("../images/midground-elem-7.png") no-repeat 0 0; }

  /*
   * snow elements
   *
   ****************************************************************************/
  @keyframes snow-midground {
    0% {
      background-position: 0px 0px; }

    100% {
      background-position: 400px 400px; } }

  @-moz-keyframes snow-midground {
    0% {
      background-position: 0px 0px; }

    100% {
      background-position: 400px 400px; } }

  @-webkit-keyframes snow-midground {
    0% {
      background-position: 0px 0px; }

    100% {
      background-position: 400px 400px; } }

  @-ms-keyframes snow-midground {
    0% {
      background-position: 0px 0px; }

    100% {
      background-position: 400px 400px; } }

  .snow-midground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/bkg-snow-midground.png");
    -webkit-animation: snow-midground 20s linear infinite;
    -moz-animation: snow-midground 20s linear infinite;
    -ms-animation: snow-midground 20s linear infinite;
    animation: snow-midground 20s linear infinite; }

  @keyframes snow-foreground {
    0% {
      background-position: 0px 0px; }

    100% {
      background-position: 500px 1000px; } }

  @-moz-keyframes snow-foreground {
    0% {
      background-position: 0px 0px; }

    100% {
      background-position: 500px 1000px; } }

  @-webkit-keyframes snow-foreground {
    0% {
      background-position: 0px 0px; }

    100% {
      background-position: 500px 1000px; } }

  @-ms-keyframes snow-foreground {
    0% {
      background-position: 0px 0px; }

    100% {
      background-position: 500px 1000px; } }

  .snow-foreground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/bkg-snow-foreground.png");
    -webkit-animation: snow-foreground 20s linear infinite;
    -moz-animation: snow-foreground 20s linear infinite;
    -ms-animation: snow-foreground 20s linear infinite;
    animation: snow-foreground 20s linear infinite; }

  /*
   * foreground parallax (street level)
   *
   ********************************************************/
  #bg-3 {
    position: absolute;
    bottom: 0;
    width: 7390px;
    height: 700px; }

  .bg-road {
    position: absolute;
    bottom: 0;
    width: 7390px;
    height: 73px;
    background: #707070; }

  /*
   * content region definitions
   *
   ****************************************************************************/
  #bg-panels {
    width: 7390px;
    height: 100%; }

  .panel-content {
    z-index: 200;
    position: absolute;
    left: 122px;
    margin-top: 0;
    text-align: center; }

  .ie9 .ribbon-2 {
    margin-bottom: 13px;
    line-height: 74px; }
  .ie9 .ribbon-3 {
    line-height: 74px; }

  .ribbon-2 {
    font-size: 28px;
    font-size: 1.75rem; }

  .ribbon-3 {
    margin-left: 0; }

  #intro-content {
    bottom: 330px;
    left: 122px; }
    #intro-content .ribbon-3 {
      margin-left: 20px; }

  #outro-content {
    bottom: 270px;
    left: 7030px; }

  /*
   * cloud regions
   *
   ****************************************************************************/
  .cloud {
    position: absolute;
    bottom: 400px;
    width: 8000px;
    height: 250px;
    background: url("../images/sprite-clouds.png") no-repeat 0 0; }

  .cloud-1 {
    /* default position */ }

  .cloud-2 {
    background-position: 0 -250px; }

  /*
   * individual people elements
   *
   ****************************************************************************/
  .person {
    z-index: 300;
    position: absolute;
    display: block;
    height: 120px;
    background: url("../images/sprite-people.png");
    text-indent: -9999px; }

  #person-andrew {
    bottom: -10px;
    left: 1065px;
    width: 82px;
    background-position: -651px 0; }

  #person-amber {
    bottom: 20px;
    left: 5560px;
    width: 82px;
    background-position: -977px 0; }

  #person-brian {
    bottom: -5px;
    left: 1150px;
    width: 82px;
    /* default position */ }

  #person-chris {
    bottom: 20px;
    left: 1880px;
    width: 82px;
    background-position: -733px 0; }

  #person-dane {
    bottom: 55px;
    left: 4115px;
    width: 81px;
    background-position: -407px 0; }

  #person-howie {
    bottom: 55px;
    left: 4050px;
    width: 81px;
    background-position: -326px 0; }

  #person-jack {
    bottom: 5px;
    left: 2615px;
    width: 81px;
    background-position: -164px 0; }

  #person-jacob {
    bottom: 10px;
    left: 5325px;
    width: 82px;
    background-position: -895px 0; }

  #person-jay {
    bottom: 15px;
    left: 1815px;
    width: 82px;
    background-position: -82px 0; }

  #person-john {
    bottom: 10px;
    left: 6005px;
    width: 81px;
    background-position: -1059px 0; }

  #person-justin {
    bottom: 0;
    left: 2680px;
    width: 81px;
    background-position: -245px 0; }

  #person-keith {
    bottom: 10px;
    left: 6205px;
    width: 81px;
    background-position: -1140px 0; }

  #person-kris {
    bottom: 5px;
    left: 5400px;
    width: 81px;
    background-position: -488px 0; }

  #person-mike {
    bottom: 25px;
    left: 6150px;
    width: 82px;
    background-position: -1221px 0; }

  #person-marie {
    bottom: 20px;
    left: 5485px;
    width: 80px;
    background-position: -815px 0; }

  #person-robby {
    bottom: 35px;
    left: 6070px;
    width: 82px;
    background-position: -569px 0; }

  /*
   * fact elements
   *
   ****************************************************************************/
  #container-facts {
    z-index: 50;
    position: absolute;
    width: 5500px;
    height: 700px; }

  .fact {
    position: absolute;
    bottom: 200px;
    display: table;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: 1px solid #fff;
    width: 285px;
    height: 120px;
    background-color: #fefefe;
    background: -webkit-linear-gradient(top, #fefefe 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e2e2e2)) 0 0;
    background: -moz-linear-gradient(top, #fefefe, #e2e2e2) 0 0;
    background: -ms-linear-gradient(top, #fefefe, #e2e2e2);
    background: -o-linear-gradient(top, #fefefe, #e2e2e2); }

  .ie9 .fact-arrow {
    display: none; }

  .fact-content {
    display: table-cell;
    padding: 0 15px;
    vertical-align: middle;
    text-align: center; }

  .fact-arrow {
    position: absolute;
    left: 50%;
    margin-left: -16px;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    width: 0;
    height: 0; }

  .fact-arrow-top {
    top: -16px;
    border-bottom: 16px solid #fefefe; }

  .fact-arrow-bottom {
    bottom: -16px;
    border-top: 16px solid #e2e2e2; }

  #f-1 {
    left: 615px;
    bottom: 150px;
    width: 190px; }

  #f-2 {
    left: 732px;
    bottom: 150px;
    width: 220px; }

  #f-3 {
    left: 1036px;
    bottom: 218px;
    width: 260px; }

  #f-4 {
    left: 1256px;
    bottom: 412px;
    width: 335px; }

  #f-5 {
    left: 1538px;
    bottom: 340px;
    width: 250px; }

  #f-6 {
    left: 1775px;
    bottom: 395px;
    width: 285px; }

  #f-7 {
    left: 2004px;
    bottom: 280px;
    width: 310px; }

  #f-8 {
    left: 2302px;
    bottom: 450px;
    width: 240px; }

  #f-9 {
    left: 2572px;
    bottom: 380px;
    width: 220px; }

  #f-10 {
    left: 2825px;
    bottom: 130px;
    width: 275px; }

  #f-11 {
    left: 3042px;
    bottom: 244px;
    width: 300px; }

  #f-12 {
    left: 3330px;
    bottom: 320px;
    width: 240px; }

  #f-13 {
    left: 3605px;
    bottom: 350px;
    width: 230px; }

  #f-14 {
    left: 3822px;
    bottom: 235px;
    width: 285px; }

  #f-15 {
    left: 4070px;
    bottom: 325px;
    width: 300px; }

  #f-16 {
    left: 4362px;
    bottom: 120px;
    width: 200px; }

  #f-17 {
    left: 4624px;
    bottom: 425px;
    width: 250px; }

  #f-18 {
    left: 4890px;
    bottom: 140px;
    width: 240px; }

  #f-19 {
    left: 5074px;
    bottom: 352px;
    width: 230px; }

  #f-20 {
    left: 5366px;
    bottom: 415px;
    width: 320px; }

  #f-21 {
    left: 5645px;
    bottom: 250px;
    width: 260px; }

  #f-22 {
    left: 5915px;
    bottom: 355px;
    width: 210px; }

  #f-23 {
    left: 6170px;
    bottom: 250px;
    width: 240px; }

  #f-24 {
    left: 6384px;
    bottom: 135px;
    width: 240px; }

  #f-25 {
    left: 6625px;
    bottom: 172px;
    width: 300px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  /*
   * retina CSS
   *
   ************************************************************************************************/
  /*
   * preloader
   *
   ****************************************************************************/
  .preloader {
    background-image: url("../images/bkg-preload@2x.png");
    background-size: 171px 800px; }

  .preloader-animation {
    background-image: url("../images/preload-animation@2x.gif");
    background-size: 96px 96px; }

  /*
   * touch control hint
   *
   ****************************************************************************/
  #touch-control {
    background-image: url("../images/touch-divider@2x.gif");
    background-size: 3px 21px; }

  /*
   * social icons
   *
   ****************************************************************************/
  .social-item {
    background-image: url("../images/sprite-social@2x.png");
    background-size: 117px 120px; }

  /*
   * base parallax definitions
   *
   ****************************************************************************/
  /*
   * parallax layers
   *
   ****************************************************************************/
  /*
   * background parallax (skyline)
   *
   ********************************************************/
  /* #bg-1 { background-image: url( '../images/bg-background@2x.png' ); background-size: 7389px 700px; } */
  .bg-back-tile-1 {
    background-image: url("../images/bg-back-1@2x.png");
    background-size: 821px 700px; }

  .bg-back-tile-2 {
    background-image: url("../images/bg-back-2@2x.png");
    background-size: 821px 700px; }

  .bg-back-tile-3 {
    background-image: url("../images/bg-back-3@2x.png");
    background-size: 821px 700px; }

  .bg-back-tile-4 {
    background-image: url("../images/bg-back-4@2x.png");
    background-size: 821px 700px; }

  .bg-back-tile-5 {
    background-image: url("../images/bg-back-1@2x.png");
    background-size: 821px 700px; }

  .bg-back-tile-6 {
    background-image: url("../images/bg-back-2@2x.png");
    background-size: 821px 700px; }

  .bg-back-tile-7 {
    background-image: url("../images/bg-back-3@2x.png");
    background-size: 821px 700px; }

  .bg-back-tile-8 {
    background-image: url("../images/bg-back-4@2x.png");
    background-size: 821px 700px; }

  .bg-back-tile-9 {
    background-image: url("../images/bg-back-1@2x.png");
    background-size: 821px 700px; }

  /*
   * midground parallax (buildings)
   *
   ********************************************************/
  .bg-mid-tile-1 {
    background-image: url("../images/bg-mid-1@2x.png");
    background-size: 821px 700px; }

  .bg-mid-tile-2 {
    background-image: url("../images/bg-mid-2@2x.png");
    background-size: 821px 700px; }

  .bg-mid-tile-3 {
    background-image: url("../images/bg-mid-3@2x.png");
    background-size: 821px 700px; }

  .bg-mid-tile-4 {
    background-image: url("../images/bg-mid-4@2x.png");
    background-size: 821px 700px; }

  .bg-mid-tile-5 {
    background-image: url("../images/bg-mid-5@2x.png");
    background-size: 821px 700px; }

  .bg-mid-tile-6 {
    background-image: url("../images/bg-mid-6@2x.png");
    background-size: 821px 700px; }

  .bg-mid-tile-7 {
    background-image: url("../images/bg-mid-7@2x.png");
    background-size: 821px 700px; }

  .bg-mid-tile-8 {
    background-image: url("../images/bg-mid-8@2x.png");
    background-size: 821px 700px; }

  .bg-mid-tile-9 {
    background-image: url("../images/bg-mid-9@2x.png");
    background-size: 821px 700px; }

  /*
   * foreground elements (vehicles)
   *
   ********************************************************/
  .bg-fore-elem-1 {
    background-image: url("../images/midground-elem-1@2x.png");
    background-size: 387px 111px; }

  .bg-fore-elem-2 {
    background-image: url("../images/midground-elem-2@2x.png");
    background-size: 433px 91px; }

  .bg-fore-elem-3 {
    background-image: url("../images/midground-elem-3@2x.png");
    background-size: 234px 286px; }

  .bg-fore-elem-4 {
    background-image: url("../images/midground-elem-4@2x.png");
    background-size: 128px 207px; }

  .bg-fore-elem-5 {
    background-image: url("../images/midground-elem-5@2x.png");
    background-size: 218px 103px; }

  .bg-fore-elem-6 {
    background-image: url("../images/midground-elem-6@2x.png");
    background-size: 254px 75px; }

  .bg-fore-elem-7 {
    background-image: url("../images/midground-elem-7@2x.png");
    background-size: 222px 104px; }

  /*
   * snow elements
   *
   ****************************************************************************/
  .snow-midground {
    background-image: url("../images/bkg-snow-midground@2x.png");
    background-size: 500px 500px; }

  .snow-foreground {
    background-image: url("../images/bkg-snow-foreground@2x.png");
    background-size: 500px 500px; }

  /*
   * foreground parallax (street level)
   *
   ********************************************************/
  /*
   * content region definitions
   *
   ****************************************************************************/
  .panel-content {
    background-image: url("../images/bkg-panel@2x.png");
    background-size: 281px 800px; }

  /*
   * cloud regions
   *
   ****************************************************************************/
  .cloud {
    background-image: url("../images/sprite-clouds@2x.png");
    background-size: 8000px 500px; }

  /*
   * individual people elements
   *
   ****************************************************************************/
  .person {
    background-image: url("../images/sprite-people@2x.png");
    background-size: 1303px 120px; }

  /*
   * fact elements
   *
   ****************************************************************************/ }
