body {
	background: #d0e8f5;
}

#Scene {
	position: fixed;
	width: 100%;
	height: 700px;
	margin-top: -350px;
	top: 50%;
}

.parallax-layer {
	position: absolute;
	height: 700px;
	background-repeat: no-repeat;
}

#bg-1 {
	left: 300px;
	background: url( '../images/bg-background.png' ) repeat-x;
	width: 3528px;
}

#bg-2 {
	left: 300px;
	background: url( '../images/bg-midground.png' ) repeat-x left bottom;
	width: 4368px; 
}

#bg-3 {
	left: 300px;
	bottom: 0;
	background: #ccc;
	width: 4368px;
	height: 100px;
}

#intro {
	width: 300px; background-color: #000;
}

#outro {
	width: 300px; background-color: #000;
}

.cloud { position: absolute; }

#cloud-1 { left: 200px; width: 450px; height: 400px; background: url( '../images/bg-clouds.png' ); }
#cloud-2 { left: 600px; width: 450px; height: 400px; background: url( '../images/bg-clouds.png' ); }
#cloud-3 { left: 1000px; width: 450px; height: 400px; background: url( '../images/bg-clouds.png' ); }
#cloud-4 { left: 1400px; width: 450px; height: 400px; background: url( '../images/bg-clouds.png' ); }
#cloud-5 { left: 1800px; width: 450px; height: 400px; background: url( '../images/bg-clouds.png' ); }


.person { position: absolute; bottom: 0; display: block; background: url( '../images/bg-people.png' ); text-indent: -9999px; }

#person-andrew 	{ left: 200px; width: 200px; height: 200px; /* default position */ }
#person-amber 	{ left: 600px; width: 200px; height: 200px; background-position: -200px 0; }
#person-brian 	{ left: 1000px; width: 200px; height: 200px; background-position: -400px 0; }
#person-chris 	{ left: 1400px; width: 200px; height: 200px; /* default position */ }
#person-dane 	{ left: 1800px; width: 200px; height: 200px; background-position: -200px 0; }
#person-howie 	{ left: 2200px; width: 200px; height: 200px; background-position: -400px 0; }
#person-jack 	{ left: 3000px; width: 200px; height: 200px; background-position: -200px 0; }
#person-jacob 	{ left: 2600px; width: 200px; height: 200px; /* default position */ }
#person-jay 	{ left: 3400px; width: 200px; height: 200px; background-position: -400px 0; }
#person-john 	{ left: 3800px; width: 200px; height: 200px; /* default position */ }
#person-justin 	{ left: 4200px; width: 200px; height: 200px; background-position: -200px 0; }
#person-keith 	{ left: 4600px; width: 200px; height: 200px; background-position: -400px 0; }
#person-kris 	{ left: 5000px; width: 200px; height: 200px; /* default position */ }
#person-mike 	{ left: 5400px; width: 200px; height: 200px; background-position: -200px 0; }
#person-robby 	{ left: 5800px; width: 200px; height: 200px; background-position: -400px 0; }