/*
 * base CSS
 * 
 ************************************************************************************************/


/*
 * breakpoint variable
 *
 ****************************************************************************/


$breakpoint: 320;

body:after {
	content: 'mobile-portrait';
	display: none;
}


/*
 * base elements
 *
 ****************************************************************************/

// default H tag sizes and spacing
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { margin-bottom: 0; line-height: 1.2em; color: $c-primary; }


// custom H tag treatments
h1, .h1 {
	@include font-size( 34 ); }
h2, .h2 {
	@include font-size( 17 ); }
h3, .h3 {
	text-transform: uppercase; line-height: $f-baselineheight; @include font-size( 17 ); color: $c-brand; }

// default p treatment
p, ul, ol, dd { line-height: $f-baselineheight; }


/*
 * mobile only screen
 *
 ****************************************************************************/

#sad-panda { width: 100%; height: 100%; background-color: $c-skylight; @include linear-gradient( $c-skydark, $c-skylight ); text-align: center; }

// mobile notice
.notice { display: block; margin: 10px auto 0 auto; width: 220px; @include font-size( 18 ); }


/*
 * preloader
 *
 ****************************************************************************/

#preload-container { display: none; }


/*
 * social icons
 *
 ****************************************************************************/

.social-container { display: none; }


/*
 * base parallax definitions
 *
 ****************************************************************************/

#skrollr-body { display: none; }


/*
 * content region definitions
 *
 ****************************************************************************/

.panel-content { position: relative; @include box-sizing( ); @include inline-block( ); margin-top: -450px; width: 281px; height: 800px; background: url( '../images/bkg-panel.png' ) no-repeat 0 0; }

// intro and outro content container
.content-inner { position: absolute; bottom: 0; width: 100%; height: 235px; }

// generic intro and outro text row
.ribbon { display: block; line-height: 60px; }

// text rows
.ribbon-1 { margin-bottom: 27px; }
.ribbon-2 { margin-bottom: 27px; text-transform: uppercase; @include font-size( 22 ); color: $c-brand; }
.ribbon-3 { margin-left: 20px; }
