/*
 * retina CSS
 *
 ************************************************************************************************/


/*
 * preloader
 *
 ****************************************************************************/

.preloader {
	background-image: url( '../images/bkg-preload@2x.png' ); background-size: 171px 800px;
}

.preloader-animation { background-image: url( '../images/preload-animation@2x.gif' ); background-size: 96px 96px; }


/*
 * touch control hint
 *
 ****************************************************************************/

#touch-control {
	background-image: url( '../images/touch-divider@2x.gif' ); background-size: 3px 21px;
}


/*
 * social icons
 *
 ****************************************************************************/

// generic social container
.social-item {
	background-image: url( '../images/sprite-social@2x.png' ); background-size: 117px 120px;
}


/*
 * base parallax definitions
 *
 ****************************************************************************/


/*
 * parallax layers
 *
 ****************************************************************************/


/*
 * background parallax (skyline)
 *
 ********************************************************/

#bg-1 { background-image: url( '../images/bg-background@2x.png' ); background-size: 7389px 700px; }


/*
 * midground parallax (buildings)
 *
 ********************************************************/

// specific background tiles
.bg-mid-tile-1	 { background: url( '../images/bg-mid-1@2x.png' ); background-size: 821px 700px; }
.bg-mid-tile-2	 { background: url( '../images/bg-mid-2@2x.png' ); background-size: 821px 700px; }
.bg-mid-tile-3	 { background: url( '../images/bg-mid-3@2x.png' ); background-size: 821px 700px; }
.bg-mid-tile-4	 { background: url( '../images/bg-mid-4@2x.png' ); background-size: 821px 700px; }
.bg-mid-tile-5	 { background: url( '../images/bg-mid-5@2x.png' ); background-size: 821px 700px; }
.bg-mid-tile-6	 { background: url( '../images/bg-mid-6@2x.png' ); background-size: 821px 700px; }
.bg-mid-tile-7	 { background: url( '../images/bg-mid-7@2x.png' ); background-size: 821px 700px; }
.bg-mid-tile-8	 { background: url( '../images/bg-mid-8@2x.png' ); background-size: 821px 700px; }
.bg-mid-tile-9	 { background: url( '../images/bg-mid-9@2x.png' ); background-size: 821px 700px; }

// TEMP flat elements in midground
#bg-2-sub-elements {
	background-image: url( '../images/TEMP-elements@2x.png' ); background-size: 7389px 700px;
}


/*
 * snow elements
 *
 ****************************************************************************/

// midground snow definition
.snow-midground {
	background-image: url( '../images/bkg-snow-midground@2x.png' ); background-size: 500px 500px;
}

// midground snow definition
.snow-foreground {
	background-image: url( '../images/bkg-snow-foreground@2x.png' ); background-size: 500px 500px;
}

/*
 * foreground parallax (street level)
 *
 ********************************************************/


/*
 * content region definitions
 *
 ****************************************************************************/

.panel-content { background-image: url( '../images/bkg-panel@2x.png' ); background-size: 281px 800px; }


/*
 * cloud regions
 *
 ****************************************************************************/

// individual default cloud
.cloud { background-image: url( '../images/sprite-clouds@2x.png' ); background-size: 8000px 500px; }


/*
 * individual people elements
 *
 ****************************************************************************/

// individual default person
.person { background-image: url( '../images/sprite-people@2x.png' ); background-size: 1303px 120px; }


/*
 * fact elements
 *
 ****************************************************************************/

