//Color declarations
//Body background
$bodyColor:					#88b6d2;

//Basic text
$textColor:					#000;

//Font declarations
//Global font
$baseFont:				Helvetica, Arial, sans-serif;
$baseFontSize:			16;
$baseLineHeight:		1.5em;